/* Custom Styles */
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #474444;
 
}
.hero h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
}
.hero p {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.hero .social-icons a {
    font-size: 2em;
}
.about .img-fluid {
    max-width: 200px;
}
.services .service-icon {
    color: #007bff;
}
.skills .progress {
    height: 20px;
}
.skills .progress-bar {
    background-color: #333;
}



/* ************************//*************** */

.typing-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffffff;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.typing-text {
    display: inline-block;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(236, 230, 230); }
}